@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.poppins {
    font-family: 'Poppins', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 15px 15px;
    background-image: linear-gradient(to right, blue 2px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
}

button,
.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


.specialBtn {
    border-color: #646cff;
}

.specialBtnDark {
    background: #646cff;
    color: white;
}

.specialBtn:hover {
    border-color: blue;
}

.dropShadow {
    filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}

.fadeIn {
    animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.main-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .banner {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .video-container {
    margin-bottom: 20px;
  }
  
  .table-container {
    width: 600px; /* Adjust width as needed */
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
  }

  /* iframe information for showing youtube fitting to every screen */
  
  .video-container {
    /* Set aspect ratio and padding */
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio of YouTube video (16:9) */
    margin: 1rem; /* Add some generic padding around the container */
  
    /* Make the container flexbox and responsive */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Take up full width of its parent */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/*end of youtube iframe fitting every screen */